<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
    <title>影院管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.css?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-reboot.css?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="/css/cinemaHall.css?v=1.1"/>

    <script src="/js/jquery.js?v=1.1"></script>
    <script src="/js/bootstrap.bundle.js?v=1.1"></script>
    <script src="/js/request.js?v=1.1"></script>
    <script src="/js/adminCinemaManage.js?v=1.1"></script>

</head>
<body>
<div class="nav-left-container">
    <div class="nav-user-container" style="margin-bottom: 50px;">
        <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
        <p class="title">Admin</p>
    </div>
    <ul class="nav nav-pills flex-column nav-column">
        <li class="nav-item"><a class="nav-link" href="/admin/promotion/manage"><i class="fas fa-gifts"></i>  活动管理</a></li>
        <li class="nav-item"><a class="nav-link active" href="/admin/cinema/manage"><i class="fas fa-couch"></i>  影院管理</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/member/manage"><i class="fas fa-crown"></i>  会员管理</a></li>
        <li class="nav-item"><a class="nav-link" href="/admin/clerk/manage"><i class="fas fa-user-cog"></i>  员工管理</a></li>

    </ul>
</div>
<div class="content-container-back">
    <div class="content-header">
        <span class="subtitle">影院管理</span>
    </div>
    <div class="content-item">
        <span class="subtitle">常规设置</span>
        <div class="content-card card">
            <span class="">用户可见排片日期：</span><span id="can-see-num"></span>
            <a style="margin-left: 20px;" class="primary-text" id="canview-modify-btn">修改</a>
            <input type="number" class="form-control" id="canview-set-input" style="display: none;width: 200px;">
            <a style="display: none" class="primary-text" id="canview-confirm-btn">确认</a>
        </div>
    </div>

    <div class="content-item">
        <span class="subtitle">影厅管理</span>
        <button type="button" class="btn btn-primary" data-backdrop="static" data-toggle="modal" id="addHall"><i class="icon-plus-sign"></i> 新增影厅</button>



        <div class="content-card card" id="hall-card">
        </div>
    </div>

    <div class="content-item" id="unsetStrategy">
        <span class="subtitle">退票策略设置</span>
        <div>请设置退票策略</div>
        <button class="btn btn-default" id="add-strategy-btn">增加退票策略</button>


    </div>

    <div class="content-item" id="refundStrategy">
        <span class="subtitle">退票策略设置</span>
        <div class="content-card card">
            <div><span class="">电影开场前 </span><span id="can-refund-num"></span><span> 分钟禁止退票。</span></div>
            <div><span>退款百分比：</span><span id="refund-percent"></span><span>%。</span></div>
            <button class="btn btn-primary" id="strategy-modify-btn">修改</button>
        </div>


    </div>

</div>
<!--新增影厅的表单-->
<div class="modal fade" id="hallModal" tabindex="-1" role="dialog" aria-labelledby="hallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="hallModalLabel">新增影厅</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="hall-name-input">影厅名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="hall-name-input" placeholder="请输入影厅名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="hall-row-input">行</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="hall-row-input" placeholder="请输入影厅行数">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="hall-column-input">列</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="hall-column-input" placeholder="请输入影厅列数">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="hall-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>

<!--修改影厅的表单-->
<div class="modal fade" id="editHallModal" tabindex="-1" role="dialog" aria-labelledby="EditHallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="EditHallModalLabel">修改影厅规模</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-hall-name-input">影厅名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-hall-name-input" placeholder="请输入影厅名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-hall-row-input">行</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-hall-row-input" placeholder="请输入影厅行数">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-hall-column-input">列</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit-hall-column-input" placeholder="请输入影厅列数">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="edit-hall-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editStrategyModal" tabindex="-1" role="dialog" aria-labelledby="EditStrategyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="EditStrategyModalLabel">修改退票策略</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-time-input">退票限制时间</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="edit-time-input" placeholder="请输入退票限制时间">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="edit-percent-input">退票比率</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="edit-percent-input" placeholder="请输入退票比率">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="confirm-strategy-btn">确认</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addStrategyModal" tabindex="-1" role="dialog" aria-labelledby="AddStrategyModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddStrategyModalLabel">修改退票策略</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="add-time-input">退票限制时间</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="add-time-input" placeholder="请输入退票限制时间">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="add-percent-input">退票比率</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="add-percent-input" placeholder="请输入退票比率">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="add-confirm-strategy-btn">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>