<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
    <title>电影</title>
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-grid.css?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-reboot.css?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css?v=1.1"/>

    <!-- 引入css样式文件 -->
    <link rel="stylesheet" type="text/css" href="/css/common.css?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="/css/movieList.css?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="/css/userMovie.css?v=1.1"/>

    <!-- 引入js脚本文件 -->
    <!-- jquery -->
    <script src="/js/jquery.js?v=1.1"></script>
    <!-- Bootstrap 核心 JavaScript 文件 -->
<!--    <script src="/js/popper.js"></script>-->
    <script src="/js/bootstrap.bundle.js?v=1.1"></script>
<!--    <script src="/js/bootstrap.js"></script>-->
    <script src="/js/request.js?v=1.1"></script>
    <script src="/js/userMovie.js?v=1.1"></script>
    <script src="/js/userNavi.js?v=1.1"></script>
</head>
<body>
<div class="navbar form-inline">
    <div class="col-4">
        <span class="nav-title" >影院购票系统</span>
    </div>
    <div class="col-6">
        <ul class="nav nav-pills ">
            <li class="nav-item"><a class="nav-link " href="/user/home">首页</a></li>
            <li class="nav-item"><a class="nav-link active" href="/user/movie">电影</a></li>
            <li class="nav-item"><a class="nav-link" href="/user/buy">电影票</a></li>
            <li class="nav-item"><a class="nav-link" href="/user/member">卡包</a></li>
            <li class="nav-item"><a class="nav-link" href="/user/order">订单</a></li>
            <li class="nav-item"><a class="nav-link" href="/user/message">消息</a></li>
        </ul>
    </div>
    <div class="col-2">
        <img class="avatar-sm" src="/images/defaultAvatar.jpg"/>
    </div>
</div>

<div class="content-container-front">

    <div class="filler-container row" style="margin: 5px">
        <div class="col-10">
            <div class="input-group">
                <input type="text" class="form-control" id="search-input" placeholder="请输入关键字" style="border: 0px;height: 50px;width: 100%">
            </div>
        </div>
        <div class="col-2">
            <span class="input-group-btn">
                <button class="btn btn-primary" id="search-btn" type="button">搜索</button>
            </span>
        </div>
    </div>

    <div class="container-m">
            <div class="movie-on-list">
            </div>
    </div>
</div>
</body>
</html>